PORT=4001
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=hot_de_la_base_de_datos
DB_PORT=puerto_db
DB_NAME=name_db
DB_USER=User_db
DB_PASSWORD=password_db

# DGII (lo llenamos después)
DGII_ENV=testecf
DGII_RNC=

# Certificado (lo llenamos cuando llegue)
CERT_PATH=./certs/certificado.p12
CERT_PASSWORD=

# Varibales Para JsonWebToken
# Generar estos codigos aleatorios
# EN BASH: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_ACCESS_SECRET=tu_secreto_muy_largo_y_aleatorio_aqui_min_32_chars
JWT_REFRESH_SECRET=otro_secreto_diferente_tambien_largo
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
COOKIE_SECRET=otro_secreto_para_firmar_cookies