# Servidor
PORT=4001
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=facturacion_electronica
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

# DGII
DGII_ENV=testecf
DGII_RNC=tu_rnc_aqui

# Certificado digital (llenar cuando llegue)
CERT_PATH=./certs/certificado.p12
CERT_PASSWORD=tu_password_certificado_aqui

# Frontend
FRONTEND_URL=http://localhost:4200